extends head

block content
	.container
		.row
			.col-md-8.col-xs-8
				.btn-group(role="group")
					.btn-group(role="group")
						button.btn.btn-default.dropdown-toggle(type="button" aria-label="取消" data-toggle="dropdown")
							span.glyphicon.glyphicon-arrow-left(aria-hidden="true")
							span.caret
						ul.dropdown-menu.operations
							li
								button.btn.btn-default(type="button" aria-label="撤销")
									span.glyphicon.glyphicon-arrow-left(aria-hidden="true")
							li
								button.btn.btn-default(type="button" aria-label="重做")
									span.glyphicon.glyphicon-arrow-right(aria-hidden="true")
							li
								button.btn.btn-default(type="button" aria-label="重置")
									span.glyphicon.glyphicon-trash(aria-hidden="true")
					.btn-group.draw-options(role="group")
						button.btn.btn-default.dropdown-toggle(type="button" aria-label="画笔" data-toggle="dropdown")
							span.glyphicon.glyphicon-pencil(aria-hidden="true")
							span.caret
						ul.dropdown-menu.tools
							li
								button.btn.btn-default(type="button" aria-label="画笔")
									span.glyphicon.glyphicon-pencil(aria-hidden="true")
							li
								button.btn.btn-default(type="button" aria-label="橡皮")
									span.glyphicon.glyphicon-erase(aria-hidden="true")
							li
								button.btn.btn-default(type="button" aria-label="文字")
									span.glyphicon.glyphicon-font(aria-hidden="true")
					.btn-group.draw-options(role="group")
						button.btn.btn-default.dropdown-toggle(type="button" aria-label="矩形" data-toggle="dropdown")
							span.iconfont(aria-hidden="true") &#xe602;
							span.caret
						ul.dropdown-menu.shapes
							li
								button.btn.btn-default(type="button" aria-label="矩形")
									span.iconfont(aria-hidden="true") &#xe602;
							li
								button.btn.btn-default(type="button" aria-label="椭圆")
									span.iconfont(aria-hidden="true") &#xe601;
							li
								button.btn.btn-default(type="button" aria-label="直线")
									span.iconfont(aria-hidden="true") &#xe600;
					button.btn.btn-default.jscolor(type="button" aria-label="颜色" data-toggle="dropdown" class="{value:'000', valueElement:'colorValue', styleElement:'colorStyle'}")
						span.glyphicon.glyphicon-tint.colors(aria-hidden="true")
					.btn-group(role="group")
						button.btn.btn-default.dropdown-toggle(type="button" aria-label="粗细" data-toggle="dropdown")
							i.iconfont(aria-hidden="true") &#xe603;
						ul.dropdown-menu.shapes
							li
								input.stroke(type='text')
			.col-md-4.col-xs-4.others
				.btn-group
					button.btn.btn-default(type="button" aria-label="用户")
						span.glyphicon.glyphicon-user(aria-hidden="true")
					button.btn.btn-default(type="button" aria-label="下载")
						span.glyphicon.glyphicon-download-alt(aria-hidden="true")
					button.btn.btn-default(type="button" aria-label="OCR")
						span.glyphicon.glyphicon-search(aria-hidden="true")
		.row
			.col-md-12#container
				input#colorValue(type="hidden")
				.panel.panel-default.OCR-panel
					.panel-body
					ul.list-group
						li.list-group-item 英文识别
						li.list-group-item 简体中文识别
				canvas#board