* {
	margin: 0;
	padding: 0;
}

.row, .container {
	margin: 0;
	padding: 0;
}

.options {
}

.tools, .shapes, .operations {
	min-width: 100%;
	text-align: center;
}

.others>.btn-group {
	float: right;
}

li button.btn.btn-default {
	border: none;
}

button span {
	width: 100%;
}