* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 2px;
}

.row, .container {
	margin: 0;
	padding: 0;
	width: 100%;
}

li button.btn.btn-default { border: none; }

button span { width: 100%; }

.tools, .shapes, .operations {
	min-width: 100%;
	text-align: center;
}

.slider { margin: 10px 0; }

.others>.btn-group { float: right; }

#board {
    cursor: crosshair;
}

.tip {
	 position:absolute;
	 display:none;
} 

div.tip { border:1px #000 solid; }

textarea.tip { 
	background: transparent;
}

.OCRTip {
    background: #00e;
    opacity: 0.3;
}

.OCR-panel {
    position: fixed;
    bottom: 0;
    right: 5px;
}

.OCR-panel .panel-body {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.OCR-panel input {
    outline: none;
    border: none;
}